# 處理 Python 依賴和虛擬環境
venv
__pycache__
*.pyc
*.pyo
*.pyd

# 環境變數和敏感信息
.env
.env.local
.env.production
.env.development
.env.test

# 靜態文件與媒體文件（如果由外部服務處理）
# staticfiles
# media

# Git 版本控制無關的文件
.git
.gitignore

# 日誌與暫存文件
logs
*.log
nohup.out
*.sqlite3
db.sqlite3

# 本機開發工具與設定檔
.DS_Store
.vscode
.idea
*.swp
*.swo

# Django 產生的 Migrations Cache（可選）
**/migrations/__pycache__
**/migrations/*.pyc
**/migrations/*.pyo

# Celery 佇列檔案（如果有使用）
celerybeat-schedule

uploaded_pdfs/
dataset/
nltk_data/
kb_faiss_index/